<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>

  <!-- remember, "enhanced_cart" here comes from the applicationm_controller (application_controller.rb) 
  which is is stored as an instance variable (@enhanced_cart) in that method of the ApplicationController class
  - what's inside this "@enhanced_cart" instance variable? Its whatever the Product model returned from making its
    SQL query to our database using Active Record-->
  <div class="panel panel-default items">  
  <% if enhanced_cart.empty? %>
       <h3>Sorry Cart is Empty</h3>
       <%= link_to "Back to Products Page", "/" %>
  <% else %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% enhanced_cart.each do |item| %>
          <%= render 'item', product: item[:product], quantity: item[:quantity].to_i %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            $<%= cart_subtotal_cents / 100.0 %>
          </th>
        </tr>
      </tfoot>
    </table>
  <% end %>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= form_tag orders_path do %>
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-amount="<%= cart_subtotal_cents %>"
          data-name="Jungle"
          data-description="Khurram Virani's Jungle Order"
          data-locale="auto"
          data-email="kvirani@gmail.com"
          data-currency="cad">
        </script>
      <% end %>
    </div>
  </div>

</section>
